# #devops
black==24.8.0     # Needed to formatting
# click             # Unsure not installed
pytest==8.3.2            # Hard Requirement for test to run
pytest-cov==4.0.0 # Command not found - Hard Requirement for test to run 
pylint==3.2.6     # Needed 
